<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(data) { %>
      <p><%= data._id %></p>
      <p><%= data.text %></p>
      <a href='/message/edit/<%= data._id %>'>message edit</a>
      <a href='/message/delete/<%= data._id %>'>message delete</a>
    <% } else { %>
      <p>Data is null</p>
    <% } %>
  </body>
</html>
