<!DOCTYPE html>
<html>
  <head>
    <%- include('./head_config') %>
  </head>
  <body>
    <%- include('./header') %>
    <div class="row">

      <div class="col s3">
        <%- include('./sidebar') %>
      </div>
      <div class="col s9">
        <% if(data) { %>
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title"><%= data._id %></span>
                  <p><%= data.text %></p>
                </div>
                <div class="card-action">
                  <a href='/message/edit/<%= data._id %>'>message edit</a>
                  <a href='/message/delete/<%= data._id %>'>message delete</a>
                </div>
              </div>
        <% } else { %>
          <p>Message is null</p>
        <% } %>
      </div>
    </div>
    <%- include('./footer') %>
    <%- include('./body_config') %>
  </body>
</html>
